
{% extends "base.html" %}

{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for event in event_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <div class="image-flash">
                                    <p class="author">Author: {{ event.coach.username }}</p>
                                </div>
                            </div>
                            <a href="#" class="post-link">
                                <h2 class="card-title">{{ event.event_name }}</h2>
                            </a>

                            <hr />
                            <p class="card-text text-muted h6">{{ event.start_time}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                {% endfor %}

            </div>
        </div>
    </div>

</div>

<!-- index.html content ends here -->
{% endblock %}
