{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">
        <div class="date-navigation">
            <button onclick="navigateTo('{{ previous_date }}')">Previous</button>
            <h2>{{ current_date }}</h2>
            <button onclick="navigateTo('{{ next_date }}')">Next</button>
        </div>
        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for event in events %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <div class="image-flash">
                                    <p class="author">Author: {{ event.coach.username }}</p>
                                </div>
                            </div>
                            <a href="{% url 'event_detail' current_date event.id %}">
                                <h2 class="card-title">{{ event.event_name }}</h2>
                            </a>

                            <hr />
                            <p class="card-text text-muted h6">{{ event.start_time }} - {{ event.end_time }}</p>
                            {% if not event.is_full %}
                            <button class="btn btn-secondary">Book</button>
                            {% else %}
                            <p>Class is currently full</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- index.html content ends here -->
{% endblock %}

