{% extends 'base.html' %}

{% url 'edit_score' as edit_url %}

{% load static %}

{% block title %}
ClassFit | Logbook
{% endblock title %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Logbook</h1>
            <p>Track and compare your fitness scores.</p>
        </div>
        <div class="col-12 col-md-6">
            <h2>New Score</h2>
            <div>
                <form method="post" action="{% url 'open_log' %}">
                    {% csrf_token %}
                    {{ scoreform.as_p }}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <h2>Recent Scores</h2>
            <ul>
                {% for score in scores %}
                {% if forloop.counter <= 3 %} <li>
                    <div class="card text-bg-success">
                        <div class="card-body">
                            <h5 class="card-title">{{ score.exercise }}</h5>
                            <p class="card-text">{{ score.reps }} reps @ {{ score.weight }}kg</p>
                            <p>{{score.created_on}}</p>
                        </div>
                    </div>
                    </li>
                    {% endif %}
                    {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1>All Scores</h1>
            <ul>
                {% for score in scores %}
                <li>
                    <div class="card text-bg-dark">
                        <div class="card-body">
                            <h5 class="card-title">{{ score.exercise }}</h5>
                            <p class="card-text">{{ score.reps }} reps @ {{ score.weight }}kg</p>
                            <p>{{score.created_on}}</p>
                            <a href="{% url 'edit_score' score.id %}" class="btn btn-info" id="edit-scores-button">Edit</a>
                            <form method="post" action="{% url 'delete_score' score.id %}" id="delete-scores-form">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock content %}



{% block unauthorised_content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Welcome to the ClassFit Logbook</h1>
            <p>The ClassFit logbook is a platform that helps you track and compare your fitness scores.</p>
            <p>Sign up or log in to get started.</p>
            <a href="{% url 'account_signup' %}" class="btn btn-primary">Sign Up</a>
            <a href="{% url 'account_login' %}" class="btn btn-secondary">Log In</a>
        </div>
    </div>
</div>
{% endblock unauthorised_content %}