{% extends "base.html" %}

{% block title %}
ClassFit | {{ request.user.username }}
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>Welcome to ClassFit</h1>
        <p>This is the homepage.</p>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <h4>Your Upcoming Bookings</h4>
            <ul>
                {% for booking in bookings %}
                {% if forloop.counter <= 3 %}
                <li>
                    <div class="card text-bg-success">
                        <div class="card-body">
                            <h5 class="card-title">{{ booking.event.event_name }}</h5>
                            <p class="card-text">@ {{booking.event.start_time}} - {{booking.event.end_time}}</p>
                            <p>{{booking.event.date_of_event}}</p>
                        </div>
                    </div>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-12 col-md-6">
            <h4>Your Recent Scores</h4>
            <ul>
            {% for score in scores %}
            {% if forloop.counter <= 3 %}
            <li>
                <div class="card text-bg-secondary">
                    <div class="card-body">
                        <h5 class="card-title">{{ score.exercise }}</h5>
                        <p class="card-text">{{ score.reps }} reps @ {{ score.weight }}kg</p>
                        <p>{{score.created_on}}</p>
                    </div>
                </div>
            </li>
            {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-12">
        <h2>Our Leaderboard</h2>
        <form method="get" action="{% url 'home' %}">
            {{ filter.as_p }}
            <button type="submit" class="btn btn-primary">Filter</button>
        </form>
        <table id="leaderboard" class="table text-center" style='background-color: white;'>
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>User</th>
                    <th>Exercise</th>
                    <th>Weight</th>
                    <th>Reps</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in leaderboard %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ entry.user }}</td>
                    <td>{{ entry.exercise }}</td>
                    <td>{{ entry.weight }}</td>
                    <td>{{ entry.reps }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block unauthorised_content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Welcome to ClassFit</h1>
            <p>The ClassFit booking system allows you to book classes and track your progress</p>
            <p>Sign up or log in to get started.</p>
            <a href="{% url 'account_signup' %}" class="btn btn-primary">Sign Up</a>
            <a href="{% url 'account_login' %}" class="btn btn-secondary">Log In</a>
        </div>
    </div>
</div>
{% endblock unauthorised_content%}