/* style.css */

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

#main-content > *{
    text-align: center;
    align-items: center;
}

#date-heading {
    margin-top: 10px;
}

.nav-link:hover {
    cursor: pointer;
}

li {
    list-style: none;
}

#leaderboard {
    margin-bottom: 40px;
    margin-top: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

footer {
    min-width: 100%;
}

@media screen and (max-width: 600px) {
    #leaderboard {
        margin-right: 10px;
    }
    footer {
        padding-right: 5px;
    }
    
}