/* style.css */

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

#main-content > *{
    text-align: center;
    align-items: center;
}

#date-heading {
    margin-top: 10px;
}

#add-event-button {
    margin-top: 16px;
}

#edit-score-button {
    display: inline-block;
}

#delete-scores-form {
    display: inline;
}

.nav-link:hover {
    cursor: pointer;
}

li {
    list-style: none;
}

#leaderboard {
    margin-bottom: 40px;
    margin-top: 40px;
    max-width: 90%;
}

#edit-event-form {
    margin-bottom: 40px;
}

footer {
    min-width: 100%;
}

@media screen and (max-width: 600px) {
    footer {
        min-width: 110%;
    }
    
}
